@import url('https://fonts.googleapis.com/css2?family=Lato:ital@1&family=Roboto&display=swap');

/**
font-family: 'Roboto', sans-serif;
font-family: 'Lato', sans-serif;
**/

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    background-color: rgb(223, 195, 195, 0.3);
    font-family: 'Roboto', sans-serif;
    width: 100%;
}

.containerHeaderGrid {
    display: grid;    
    height: 15%;
    width: 100%;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-template-areas: 
    "logo . redes reservas"
    "logo . . ."
    "logo . barra barra"
    ;
}

.box-1{
    grid-area:logo ;
   
}
.box-2{
    grid-area:redes 
}
.box-3{
    grid-area:reservas ;
}
.box-4{
    grid-area:barra ;
}

.telefonoReservas p{
    color: white;
}

.linkHeader{
    list-style: none;
    display: flex;
    gap: 15px;
}

.navBar {
    list-style: none;
    display: flex;
    gap: 20px;
}

.navBar li a {
    text-decoration: none;
    color: white;
    font-size: 15px;
}

.navBar li a:hover {
    color: black;
}

footer {
    background-image: url(../assets/img/fondo_negro_malla.jpg);
    color: white;
    font-family: 'Roboto', sans-serif;
}

.containerFooter{
    display: flex;
    flex-direction: row;
    height: 10%;
    justify-content: space-around;
    align-items: center;
}

.linkFooter {
    display: flex;
    gap: 20px;
    list-style: none;
}

/**estilos del main gral**/

h1 , h3 {
    font-family: 'Roboto', sans-serif;
}

/**estilos nosotros**/

.textoNosotros p {
    font-family: 'Lato', sans-serif ;
}

/**estilos menu**/

.textoMenu p {
    font-family: 'Lato', sans-serif ;
}

.banner {
    background-image: url(../assets/img/menu1.jpg);
    background-position: bottom;
}
/**estilos servicios**/

.textoServicios p{
    font-family: 'Lato', sans-serif ;
}